<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>Ships of the Line</title>
</head>
<body>
<div class="main">

    <a th:href="@{/}" class="logo"><h1>Ships of the Line</h1></a>
    <div class="nav">
        <ul>
            <li class="home"><a th:href="@{/}">Home</a></li>
            <li class="home"><a th:href="@{/allships}">All Photos</a></li>
            <li class="date"><a th:href="@{/bydate}">By Date</a></li>
            <li class="alphabetically"><a th:href="@{/alphabetical}">Alphabetically</a></li>
            <li class="tag"><a th:href="@{/tags}">By Tag</a></li>
        </ul>
    </div>

    <hr>

    <div class="row image-row">
        <div class="column" th:each="p : ${random5Photos}">
            <div class="content">
                <a th:href="@{'/shipdetails/' + ${p.name}}">
                    <img th:src="@{'/images/' + ${p.name} + '.jpg'}" alt="jpg" style="width:100%">
                </a>
                <h3 th:text="'Name: ' + ${p.name}">Name</h3>

            </div>
        </div>
    </div>

</div>

</body>
</html>